<div class="gallery__item">
  <div class="gallery__img">
    <a href="{{ photo.image | custom_image_url: '1600x1600' }}" class="photo__link venobox" data-gall="myGallery">
      <img src="{{ photo.image | medium_image_url }}" alt="{{ photo.caption }}">
      {% if photo.caption %}
        <span class="photo__caption">{{ photo.caption }}</span>
      {% endif %}
    </a>
  </div>
</div>
