<section class="page-header page-header--error">
  <div class="wrapper">
    <header class="section__header page-header__header">
      <h1>{{ "Page introuvable" | t }}</h1>
    </header>
    <div class="section__main page-header__description">
      <div class="message message--notice">
        <div class="message__description">
          <p>
            <i class="icon icon-warning"></i>
            {{ "La page que vous avez demandée n'existe pas." | t }}
          </p>
        </div>
      </div>
      <p>
        <a class="button button-orange" href="{{ restaurant.root_path }}">
          {{ "Retour à l'accueil" | t }}
        </a>
      </p>
    </div>
  </div>
</section>
