{% if restaurant.summary? %}
  <section class="page-header page-header--restaurant">
    <div class="wrapper">
      <header class="section__header page-header__header">
        <h1 class="section__title page-header__title">{{ "Le restaurant" | t }}</h1>
      </header>
      <main class="section__main page-header__description">
        {{ restaurant.summary }}
      </main>
    </div>
  </section>
{% endif %}

{% if photos.size > 0 %}
  <section class="restaurant-gallery">
    <div class="wrapper">
      <main class="section__main gallery">
        <div class="grid">
          {% for photo in photos %}
            {% include 'photo' with photo:photo, i:forloop.index, l:forloop.length %}
          {% endfor %}
        </div>
      </main>
    </div>
  </section>
{% endif %}

{% if theme_settings.display_google_business_view_embed %}
  <section class="business-view">
    <div class="wrapper">
      <header class="section__header">
        <h2 class="section__title">{{ "Visite virtuelle" | t }}</h2>
      </header>
      {% google_business_view_embed: "size:100%x300" %}
      {% if theme_settings.display_google_business_view_url %}
        <footer class="section__footer">
          <div class="non-semantic-protector">
            <a class="business__link button--ribbon" href="{% google_business_view_url %}">
              <span class="ribbon-content">
                {{ "Visiter" | t }}
              </span>
            </a>
          </div>
        </footer>
      {% endif %}
    </div>
  </section>
{% endif %}
